/* Overall */
body {
	font-family: 'Proxima Nova', Helvetica, Sans-Serif, Arial;
	font-size: 16px;
	color: #444;
	background: #fff;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.wrap {

}

.hidden {
	display: none;
}

/* Burger Menu */
#burger-menu {
	width: 100%;
	height: 100%;
	background: #7ddbda;
	z-index: 900;
	position: fixed;
	top: 0;
	left: 0;
}

/* Header */
#header {
	width: 100%;
	height: 100px;
	background: #0e0e0e;
	padding-left: 40px;
	padding-right: 40px;
}

#header .logo {
	display: block;
	width: 99px;
	height: 31px;
	background: url(../images/logo.png) no-repeat;
	background-size: cover;
	margin-top: 34.5px;
}

#header .logo a {
	display: block;
	width: 99px;
	height: 31px;
}

#header .rauno {
	width: 230px;
	height: 65px;
	background: url(../images/rauno.png) no-repeat;
	background-size: cover;
	margin-top: 16px;
	margin-right: 218px;
}

#header .language {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	opacity: .8;
	margin-top: 30px;
	margin-right: 40px;
}

#header .language:hover {
	color: #111;
	background: #fff;
	opacity: 1;
}

#header .burger {
	width: 40px;
	height: 25px;
	background: url(../images/burger.png) no-repeat;
	background-size: cover;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	opacity: .8;
	margin-top: 37.5px;
}

#header .burger:hover {
	opacity: 1;
}

#header .burger.x {
	width: 32px;
	height: 31px;
	background: url(../images/burger-x.png) no-repeat;
	z-index: 1000;
	position: absolute;
	top: -2px;
	right: 45px;
}

/* Masthead */
#masthead {
	width: 100%;
	height: 700px;
	text-align: center;
	background: url(../images/masthead.png) no-repeat #cbb;
	background-size: cover;
}

#masthead h2 {
	display: block;
	width: 850px;
	font-size: 75px;
	font-weight: bold;
	color: #7ddbda;
	text-transform: uppercase;
	padding-top: 240px;
	margin-left: auto;
	margin-right: auto;
}

#masthead p {
	width: 775px;
	line-height: 1.35;
	font-size: 24px;
	font-weight: 300;
	color: #fff;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

/* What We Offer */
#what-we-offer {
	text-align: center;
	background: #ebf4f4;
	padding-top: 100px;
	padding-bottom: 100px;
}

#what-we-offer h2 {
	line-height: 1;
	font-size: 80px;
	font-weight: 300;
	color: #2e2e2e;
	margin-bottom: 100px;
}

#what-we-offer h3 {
	font-weight: bold;
	font-size: 40px;
	color: #2e2e2e;
}

#what-we-offer .cols {}
#what-we-offer .cols .item {
	display: inline-block;
	width: 300px;
	vertical-align: top;
	margin-left: 25px;
	margin-right: 25px;
}

#what-we-offer-sub {
	text-align: center;
	background: #ddebeb;
	padding-top: 50px;
	padding-bottom: 50px;
}
